*{
box-sizing: border-box;
}
.main{
width:90%;
margin: auto;
max-height: 100%;
  
}
h1{
  background-color: black;
  text-align: center;
  color: beige;
  margin-top: 0;
  /*position: fixed;*/
}

nav{
  width:25%;
  float: left;
  border-right: 1px solid darkgray;
}
.mainmenu{
  padding-top: 1rem;
  color:black;
  font-size: large;
  font-weight: 700;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

li{
  list-style: none;
}

a{
    text-decoration: none;
    color: black;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: small;
}
ul.sub1{
  padding:1rem;
  list-style:none;
  border-bottom: 1px solid gray;
}

article{
  float: left;
  width:auto;
  padding-left: 2rem;
}
h5,p{
margin-bottom: 0;
}
button{
  /*border:1px solid black;
  text-align: center;
  width: 6rem;*/
  margin: .5rem;
  padding: .5rem;
  
}

img{
  width:13rem;
  height: 15rem;
  /*-webkit-transition: height 4s width 2s;
  transition: height 4s, width 2s;
  transition-timing-function: fast;
  transition-delay: 1s;*/
  }
.item1{
  border:1px solid black;
  width:18rem;
  text-align: center;
}
/*img:hover{
   width: 20rem;
  height:20rem;
}


